{
  "inbounds": [{
    "port": 443,
    "protocol": "vmess",
    "settings": {
      "clients": ${jsonencode(xray_clients)}
    }
  }],
  "outbounds": [{
    "protocol": "freedom",
    "settings": {}
  }]
}